<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <city>San Francisco</city>
    <image>sanfrancisco.jpg</image>
    <date>March 20, 2014 06:30:00 PM PST</date>
    <latitude>37.7833</latitude>
    <longitude>-122.4167</longitude>
    <registration><![CDATA[http://www.eventbrite.ca/e/locationtech-meetup-sfo-tickets-10822501393]]></registration>
    <body><![CDATA[We start the 2014 LocationTech Tour in the Golden Gate City. This evening event starts with a happy hour and features speakers from Boundless, Planet Labs, Red Hat, Twitter, and more.]]></body>
  </event>
  <event>
    <city>Washington D.C.</city>
    <image>washingtondc.jpg</image>
    <date>March 26, 2014 06:30:00 PM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-advanced-geospatial-technology-tickets-10729878355]]></registration>
    <body><![CDATA[We celebrate one year of successes with an evening of good food, drinks, and short presentations highlighting the innovative new technology projects hosted at LocationTech.]]></body>
  </event>
  <event>
    <city>Toulouse</city>
    <image>toulouse.jpg</image>
    <date>June 16, 2014 05:00:00 PM CET</date>
    <latitude>43.6045</latitude>
    <longitude>1.4440</longitude>
    <registration><![CDATA[http://www.eventbrite.ca/e/locationtech-meetup-toulouse-tickets-11567724375]]></registration>
    <body><![CDATA[Please join us in Toulouse, the heart of the aerospace industry in Europe. This event features presentations and demos of technology pushing the state of the art for mobile mapping as well as advanced data version control and what that means for work flows.]]></body>
  </event>
  <event>
    <city>Geneva</city>
    <image>geneva.jpg</image>
    <date>June 11, 2014 06:30:00 PM CET</date>
    <latitude>46.2000</latitude>
    <longitude>6.1500</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-geneva-tickets-11782956139]]></registration>
    <body><![CDATA[Co-located with the OGC Technical Meeting in Geneva, this evening event is a chance to learn more about technology pushing the state of the art for visualization on mobile devices and data work flow.]]></body>
  </event>
  <event>
    <city>Calgary</city>
    <image>calgary.jpg</image>
    <date>September 16, 2014 06:30:00 PM MDT</date>
    <latitude>51.0500</latitude>
    <longitude>-114.0667</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-iot-calgary-tickets-12165867437]]></registration>
    <body><![CDATA[Co-located with the OGC Technical Meeting in Calgary, this evening event features presentations and demos of advanced open source geospatial software.]]></body>
  </event>
  <event>
    <city>Victoria</city>
    <image>victoria.jpg</image>
    <date>October 2, 2014 06:30:00 PM PST</date>
    <latitude>48.4222</latitude>
    <longitude>-123.3657</longitude>
    <registration><![CDATA[http://www.eventbrite.ca/e/locationtech-meetup-victoria-tickets-12166031929]]></registration>
    <body><![CDATA[A social evening of fun, mapping and technology.]]></body>
  </event>
  <event>
    <city>Hamburg</city>
    <image>hamburg.jpg</image>
    <date>October 23, 2014 06:30:00 PM CET</date>
    <latitude>53.5653</latitude>
    <longitude>10.0014</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-hamburg-tickets-12166226511]]></registration>
    <body><![CDATA[Description TBA.]]></body>
  </event>
  <event>
    <city>Ottawa</city>
    <image>ottawa.jpg</image>
    <date>November 12, 2014 09:00:00 AM EST</date>
    <latitude>45.393348</latitude>
    <longitude>-75.69561</longitude>
    <registration><![CDATA[http://2014.visiongeomatique.com/index_en.html#top]]></registration>
    <body><![CDATA[Co-located with the Envision Geomatics conference in Gatineau, a suburb of Ottawa, this 3 day event provides a thorough overview of open source geospatial technologies.]]></body>
  </event>
  <event>
    <city>Boston</city>
    <image>boston.jpg</image>
    <date>November 18, 2014 09:00:00 AM EST</date>
    <latitude>42.3581</latitude>
    <longitude>-71.0636</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-boston-tickets-12168336823]]></registration>
    <body><![CDATA[The AvidGeo Conference, part of the LocationTech Tour again this year, is a great chance to hear about geospatial technology and get hands on workshop time with current tools. The morning of the conference will consist of 30 minute talks and the afternoon will consist of 60 minute workshop sessions that will expose attendees to a hands-on look at the technology.]]></body>
  </event>
  <event>
    <city>New York</city>
    <image>newyork.jpg</image>
    <date>November 19, 2014 06:30:00 PM EST</date>
    <latitude>40.6700</latitude>
    <longitude>-73.9400</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-new-york-tickets-12168378949]]></registration>
    <body><![CDATA[Description TBA.]]></body>
  </event>
  <event>
    <city>Philadelphia</city>
    <image>philadelphia.jpg</image>
    <date>November 20, 2014 1:00:00 PM EST</date>
    <latitude>39.9500</latitude>
    <longitude>-75.1700</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-philadelphia-tickets-12168445147]]></registration>
    <body><![CDATA[Philadelphia's LocationTech event will be a conference-style speaker series featuring technical talks on the convergence of open source and geospatial. This will also be a <a href="http://geophilly.com/">GeoPhilly</a> event hosted by <a href="http://www.azavea.com/">Azavea</a>.  A social happy hour will follow.]]></body>
  </event>
  <event>
    <city>Washington D.C.</city>
    <image>washingtondc.jpg</image>
    <date>December 4, 2014 06:30:00 PM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-washington-dc-tickets-12168505327]]></registration>
    <body><![CDATA[Description TBA.]]></body>
  </event>
  <event>
    <city>Portland</city>
    <image>portland.jpg</image>
    <date>September 12, 2014 06:30:00 PM EST</date>
    <latitude>45.520000</latitude>
    <longitude>-122.6819</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-foss4g-bof-tickets-12165801239]]></registration>
    <body><![CDATA[Organized during FOSS4G week in Portland, this LocationTech Birds of a Feather Meetup is a chance to meet members, project developers, entrepreneurs, and other interesting people for an enjoyable evening of good food, drinks, and camraderie.]]></body>
  </event>
  <event>
    <city>London</city>
    <image>london.jpg</image>
    <date>October 1, 2014 06:30:00 PM BST</date>
    <latitude>51.507200</latitude>
    <longitude>-0.1275</longitude>
    <registration><![CDATA[http://www.eventbrite.ca/e/space-and-things-tickets-12165969743]]></registration>
    <body><![CDATA[This event is a special collaboration between the LocationTech, Science, and Internet of Things (IoT) working groups. It will present advanced open source technologies being used to push the state of the art in these domains.]]></body>
  </event>
  <event>
    <city>Toronto</city>
    <image>toronto.jpg</image>
    <date>November 10, 2014 06:30:00 PM EDT</date>
    <latitude>43.7000</latitude>
    <longitude>-79.4000</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-toronto-tickets-12168003827]]></registration>
    <body><![CDATA[Hosted by the University of Toronto, this event is a focus on high performance geoprocessing and big data.]]></body>
  </event>
  <event>
    <city>Madrid</city>
    <image>madrid.jpg</image>
    <date>October 21, 2014 06:30:00 PM CET</date>
    <latitude>40.4000</latitude>
    <longitude>-3.6833</longitude>
    <registration><![CDATA[https://www.eventbrite.ca/e/locationtech-meetup-madrid-tickets-12166132229]]></registration>
    <body><![CDATA[Description TBA.]]></body>
  </event>
</events>
