<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <city>San Francisco</city>
    <image>cities/sanfrancisco.jpg</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="140, 190">
    </marker>
    <date>March 20, 2014 06:30:00 PM PST</date>
    <latitude>37.7833</latitude>
    <longitude>-122.4167</longitude>
    <registration><![CDATA[http://locationtechsfo1.eventbrite.ca/]]></registration>
    <body><![CDATA[We start the 2014 LocationTech Tour in the Golden Gate City. This evening event starts with a happy hour and features speakers from Boundless, Planet Labs, Red Hat, Twitter, and more.]]></body>
  </event>
  <event>
    <city>Washington D.C.</city>
    <image>washingtondc.jpg</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="155, 20">
    </marker>
    <date>March 26, 2014 06:30:00 PM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[http://locationtechdc1.eventbrite.com/]]></registration>
    <body><![CDATA[We celebrate one year of successes with an evening of good food, drinks, and short presentations highlighting the innovative new technology projects hosted at LocationTech.]]></body>
  </event>
  <event>
    <city>Geneva</city>
    <image>geneva.jpg</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="155, 20">
    </marker>
    <date>June 11, 2014 06:30:00 PM CET</date>
    <latitude>46.2000</latitude>
    <longitude>6.1500</longitude>
    <registration><![CDATA[http://locationtechdc1.eventbrite.com/]]></registration>
    <body><![CDATA[Co-located with the OGC Technical Meeting in Geneva, this evening event is a chance to learn more about technology pushing the state of the art for analytics and better work flows with data.]]></body>
  </event>
  <event>
    <city>Hamburg</city>
    <image>hamburg.jpg</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="155, 20">
    </marker>
    <date>June 24, 2014 06:30:00 PM CET</date>
    <latitude>53.5653</latitude>
    <longitude>10.0014</longitude>
    <registration><![CDATA[http://locationtechdc1.eventbrite.com/]]></registration>
    <body><![CDATA[Co-located with the OGC Technical Meeting in Geneva, this evening event is a chance to learn more about technology pushing the state of the art for analytics and better work flows with data.]]></body>
  </event>
</events>
