<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <city>San Francisco</city>
    <image>cities/sanfrancisco.jpg</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="140, 190">
    <iconUrl>ottawa-reverse.png</iconUrl>
    </marker>
    <date>March 20, 2014 06:30:00 PM PST</date>
    <latitude>37.7833</latitude>
    <longitude>-122.4167</longitude>
    <registration><![CDATA[http://locationtechsfo1.eventbrite.ca/]]></registration>
    <body><![CDATA[We start the 2014 LocationTech Tour in the Golden Gate City. This evening event starts with a happy hour and features speakers from Boundless, Planet Labs, Red Hat, Twitter, and more.]]></body>
  </event>
<!-- 
  <event>
    <city>Washington D.C.</city>
    <image>placeholder-location-image206x217.png</image>
    <marker iconSize="320, 138" iconAnchor="320, 128" popupAnchor="155, 20">
    <iconUrl>washington-reverse.png</iconUrl>
    </marker>
    <date>Nov 14, 2013 06:00:00 PM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[http://locationtechdc1.eventbrite.com/]]></registration>
    <body><![CDATA[The LocationTech "East Coast Blitz" concludes in Washington, DC on November 14th. Join us at The George Washington University for a round of invigorating talks in the early evening, followed by drinks and networking at a nearby watering hole.]]></body>
  </event>
-->
</events>
