<?xml version='1.0' encoding='UTF-8'?>
<events>

  <event>
    <city>Washington DC</city>
    <image>washingtondc.jpg</image>
    <date>October 14, 2016 9:30:00 AM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[Coming soon!]]></registration>
    <body><![CDATA[Join us for a LocationTech project design sprint and hackathon.]]></body>
  </event>

  <event>
    <city>Atlanta</city>
    <image>atlanta.jpg</image>
    <date>August 3, 2016 5:30:00 PM EST</date>
    <latitude>33.7608</latitude>
    <longitude>-84.4012</longitude>
    <registration><![CDATA[Coming Soon!]]></registration>
    <body><![CDATA[Are you in the metro Atlanta area? Stop by to hear about the lastest in open source geo-spatial.]]></body>
  </event>

  <event>
    <city>Philadelphia</city>
    <image>philadelphia.jpg</image>
    <date>October 6, 2016 5:30:00 PM EST</date>
    <latitude>39.9500</latitude>
    <longitude>-75.1700</longitude>
    <registration><![CDATA[Coming Soon!]]></registration>
    <body><![CDATA[Join us for an inspiring night of presentations highlighting the best geo in Philly!]]></body>
  </event>

  <event>
    <city>Denver</city>
    <image>denver.jpg</image>
    <date>September 21, 2016</date>
    <latitude>39.6838925</latitude>
    <longitude>-104.9659261</longitude>
    <registration><![CDATA[http://gisintherockies.org/registration]]></registration>
    <body><![CDATA[Visit the LocationTech booth at GIS in the Rockies. Learn about our amazing open source projects, get involved and join us at the LocationTech sponsored evening social event.]]></body>
   </event>

  <event>
    <city>Chattanooga</city>
    <image>chattanooga.jpg</image>
    <date>August 4, 2016</date>
    <latitude>35.0358</latitude>
    <longitude>-85.3066</longitude>
    <registration><![CDATA[Coming Soon!]]></registration>
    <body><![CDATA[Meet LocationTech at the Flying Squirrel Bar for a fun filled and mildly informative night of geo! ]]></body>
  </event>

  <event>
    <city>Atlanta</city>
    <image>atlanta.jpg</image>
    <date>August 3, 2016 05:30:00 PM EST</date>
    <latitude>33.7608</latitude>
    <longitude>-84.4012</longitude>
    <registration><![CDATA[http://www.ncsi.com/dia/2016/networking-events.php]]></registration>
    <body><![CDATA[Join us at the RedHat Emerging Technology Social event at The DoDIIS conference. International Ballroom D, GWCC ]]></body>
  </event>

  <event>
    <city>Victoria</city>
    <image>victoria.jpg</image>
    <date>January 25, 2016 09:00:00 AM PST</date>
    <latitude>48.4222</latitude>
    <longitude>-123.3657</longitude>
    <registration><![CDATA[https://www.locationtech.org/content/locationtech-incubation-sprint-victoria]]></registration>
    <body><![CDATA[A sprint to focus on locationtech incubation requirements with GeoGig, GeoMesa, GeoTrellis, JTS Topology Suite and uDig projects participating. ]]></body>
  </event>

  <event>
    <city>San Francisco</city>
    <image>sanfrancisco.jpg</image>
    <date>December 10, 2015 06:30:00 PM PST</date>
    <latitude>37.7833</latitude>
    <longitude>-122.4167</longitude>
    <registration><![CDATA[http://www.eventbrite.ca/e/locationtech-meetup-sfo-tickets-10822501393]]></registration>
    <body><![CDATA[This evening event starts with a happy hour and features speakers building innovative solutions using open source and open data.]]></body>
  </event>

  <event>
    <city>FedGeoDay D.C.</city>
    <image>washingtondc.jpg</image>
    <date>October 13, 2016 09:00:00 AM EST</date>
    <latitude>38.895112</latitude>
    <longitude>-77.036366</longitude>
    <registration><![CDATA[http://fedgeoday.org/2016/]]></registration>
    <body><![CDATA[This one day conference is for open source geo applications in the federal government.]]></body>
  </event>

  <event>
    <city>London</city>
    <image>london.jpg</image>
    <date>March 23, 2016 6:00:00 PM GMT</date>
    <latitude>51.5072</latitude>
    <longitude>0.1275</longitude>
    <registration><![CDATA[http://www.meetup.com/London-Eclipse-User-Group/events/228434318/]]></registration>
    <body><![CDATA[Join us for an evening of collaboration, exchanging ideas and being inspired. Eclipse Converge is an event focussed on the collaborative working groups within the Eclipse Science, LocationTech and IoT communities.]]></body>
  </event>

</events>
